# Deploy
STAGE=local

# App
APP_NAME=fixed_gear
APP_HOST=0.0.0.0
PORT=5000

# Database
DATABASE_URL=ecto://postgres:postgres@postgres/fixed_gear_local
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=fixed_gear_local
DB_HOSTNAME=postgres

# Misc
PHX_SERVER=true
SECRET_KEY_BASE=changeme-run-mix-phx.gen.secret-must-be-at-least-64-bytes-long-xx
MIX_ENV=prod
