# App
APP_NAME=fixed_gear
export APP_HOST=0.0.0.0
export STAGE=local

# Database
export DB_USERNAME=postgres
export DB_PASSWORD=postgres
export DB_DATABASE=fixed_gear_dev
export DB_HOSTNAME=localhost

# Misc
export MIX_ENV=dev
export PHX_SERVER=true
export MIX_TEST_PARTITION=1
